{% extends '../base.html' %}
{% block content %}

{% load static %}

 <!-- Feed Starts -->

 
 
  <div class="col">
    <div class="container">

    <ul class="tabs-bar  pt-2 text-center">
      <li id="tab1" class="tab tab-active"><b>For You</b></li>
      <li id="tab2" class="tab"> <b>Following</b></li>
  
    </ul>
 

 
    <div class="  feed">
      <div class="app--feed">

  <div class="content-container ">
    <div class="content content-tab1 content-active">

      

     {% for post in posts %}
     <div class="post_card  mb-3 mt-3"> 
      <div class="ml-auto mt-1 mb-2">
         <div class="card-action">
     <div class="dropdown">
     <a href="javascript:void();" class="dropdown-toggle-nocaret" data-toggle="dropdown">
      <i class="fa-solid fa-ellipsis"></i>

     </a>
      <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash-can red"></i> Delete Post</a>
      <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-thumbtack"></i> Pin</a>
      <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-flag red"></i> Report Post</a>
      <a class="dropdown-item" href="javascript:void();"> <i class="fa-solid fa-share"></i> Share</a>


       </div>
      </div>
    
     </div>
    </div>

    <div class="row">
      <div class="mr-auto ml-3">
        <span class="badge bg-success">bid</span>
      </div>
      <div class="ml-auto mr-3">
        <i class="fa-sharp fa-solid fa-location-dot"></i> 13Km
      </div>
    </div>

      <div class="post_card--brand mt-3">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
      
          <div class="name-tag ">

            <div class=" account-details-hover">
              <a href="{% url 'view_profile' post.posted_by%}">
              <div class="account-hover-content p-3">
                <div class="account-avatar ml-2">
                  <img src="{% static 'img/avatar.jpg'%}" alt="">
                </div>
                <div class="account-name-tag row ml-2">
                  <p><b>{{post.poster_full}} </b> <br> @{{post.posted_by}} </p>
                  
                 <span class="ml-4">
                  <button class="btn btn-dark px-3">Follow</button>
                 </span> 

                </div>
                <div><p>{{post.poster_bio |truncatechars:50 }}</p></div>

               
                
              </div>
            </a>
            </div>
            
          <span class="bold"><b>{{post.poster_full}}</b> @{{post.posted_by}} <span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span> <span>
          <span class="grey"><br>{{post.whenpublished}}</span> 
          </div>
        </div>
      </div>
          <div><p>{{post.about}}.<a href="{% url 'post_detail' post.id %}">See more...</a> </p></div>
          <a href="{% url 'post_detail' post.id %}">
      <div class="post_card--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    </a>
    <div class="post_card--summary">
      <a href="#">
        <div class="post_card--cta">
          <span><b>KES {{post.sale_price}}</b></span>
          <span><button class="btn btn-danger px-3"> Offer <i class="fa-solid fa-plus"></i></button></span>
        </div>
      </a>
      <div class="post_card--input row">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="post_card--input--left">
        <div class="post-icons like ml-3">
          <span> 
            {% if request.user in post.likes.all %}

              <a name="{{ post.id }}"  class="likin" id="co"><i class="fa-solid fa-heart "  aria-hidden="true"></i></a>
              {% else %}
            
              <a name="{{ post.id }}"  class="likin" id="co"><i class="fa-solid fa-heart "   aria-hidden="true"></i></a>         
              {% endif %}
          </span>
          <span class="post-engagement" id="like_count"> {{ post.total_likes }} </span>
        </div>
          
            <div class="post-icons  ml-3">
          <i class="fa-regular fa-comment "></i>
          <span class="post-engagement">{{post.comment_count}}</span>
        </div>
        
        
          <div class="post-icons  ml-3">
            <div class="card-action">
        <div class="dropdown">
        <a href="javascript:void();" class=" dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="fa-solid fa-circle-plus "></i> 
          <span class="post-engagement">13</span>
          </a>
         <div class=" dropdown-menu dropdown-menu-top">
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-square-plus "></i>  Repost</a>
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-quote-right"></i>  Quote</a>
          </div>
         </div>
        </div>
       </div>

       <div class="post-icons  ml-3">
        <i class="fa-solid fa-share"></i>
      </div>
      
      
      <div class="post-icons  ml-3">
      <span>3.7k Views </span>

      </div>


    
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
      </div>
      </div>
     {% endfor %}

  <!-- END FEED-->
</div>

    </div>
    <div class="content content-tab2">

      <div class="app--feed">

    

</div>

    </div>
    
  </div>
</div>
    
    

</div>
</div>

<div class="modal fade" id="SellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-auto">
          <p>Post 1 </p>
          <hr>
          <div class="container">

             
          
            <div class="form-content-container ">
              <div class="form-content form-content-tab1 form-content-active">
                <form method="POST" class="text-center ">
                  {% csrf_token %}
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Describe your post</label><br>
                    
                    {{ sell_form.about}}
                  </div>
              
      
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">post location</label><br>
                    
                    {{ sell_form.post_location}}
                  </div>

                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Display price</label><br>
                    
                    {{ sell_form.sale_price}}
                  </div>

                 

      
                
                  <div class="row">
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Exchange Method</label><br>
                    
                    {{ sell_form.product_pick_up}}
                  </div>
      
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Payment method</label><br>
                    
                    {{ sell_form.payment_method}}
                  </div>
                </div>
      
                <br>
                
                 <button type="submit" class="btn btn-dark px-5 ">Post</button>
                  
               
                
                 </form> 
                </div>
                
                 </div>
                </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="GigModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-auto">
          <p>Post 1 </p>
          <hr>
          <div class="container">

             
          
            <div class="form-content-container ">
              <div class="form-content form-content-tab1 form-content-active">
                <form method="POST" class="text-center ">
                  {% csrf_token %}
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Describe your post</label><br>
                    
                    {{ sell_form.about}}
                  </div>
              
      
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">post location</label><br>
                    
                    {{ sell_form.post_location}}
                  </div>

                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Display price</label><br>
                    
                    {{ sell_form.sale_price}}
                  </div>

                 

      
                
                  <div class="row">
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Exchange Method</label><br>
                    
                    {{ sell_form.product_pick_up}}
                  </div>
      
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Payment method</label><br>
                    
                    {{ sell_form.payment_method}}
                  </div>
                </div>
      
                <br>
                
                 <button type="submit" class="btn btn-dark px-5 ">Post</button>
                  
               
                
                 </form> 
                </div>
                
                 </div>
                </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="ThreadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-auto">
          <p>Post 1 </p>
          <hr>
          <div class="container">

             
          
            <div class="form-content-container ">
              <div class="form-content form-content-tab1 form-content-active">
                <form method="POST" class="text-center ">
                  {% csrf_token %}
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Describe your post</label><br>
                    
                    {{ sell_form.about}}
                  </div>
              
      
                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">post location</label><br>
                    
                    {{ sell_form.post_location}}
                  </div>

                  <div class="col-lg-12 text-center">
                    <label class=" col-form-label form-control-label">Display price</label><br>
                    
                    {{ sell_form.sale_price}}
                  </div>

                 

      
                
                  <div class="row">
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Exchange Method</label><br>
                    
                    {{ sell_form.product_pick_up}}
                  </div>
      
                  <div class="col-lg-6 ">
                    <label class=" col-form-label form-control-label">Payment method</label><br>
                    
                    {{ sell_form.payment_method}}
                  </div>
                </div>
      
                <br>
                
                 <button type="submit" class="btn btn-dark px-5 ">Post</button>
                  
               
                
                 </form> 
                </div>
                
                 </div>
                </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
</div>



<!-- Feed Ends -->
{% endblock %}