{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==">
    <!-- <link rel="stylesheet" href="{% static 'plugins/emojimart/emojimart.css' %}"> -->

    <link rel="stylesheet" href="{% static 'css/app_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/camel.css'%}">

  
    <title>app UI</title>

  </head>
  
  <nav class="navbar fixed-nav navbar-light  bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
      <div class=" mr-auto ">
        <div id="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png'%}" alt="">
          </a>
      </div>
  
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
    
    
    </div> <!-- navbar-collapse.// -->
  </div><!-- container //  -->
  </nav>

 
  <body>
    <!-- Main Body Starts -->

    <div class="container">
    
   
    
    <div class="row">
      <!-- Sidebar Starts -->
      
      <div class="col left__rail mt-3">
        <div class="sidebar">

          <a class="" href="#">
            <div class="mt-5 mb-3  mr-auto ml-4 ">
              <div id="logo">
                <a href="{% url 'home' %}">
                  <img src="{% static 'img/logo.png'%}" alt="">
                </a>
            </div>
        
            </div>
          </a>
               
        <a href="{% url 'home'%}" class="sidebar__link {% if request.path == '/home/' %}active-nav{% endif %}" ><div class="sidebar__link">
         
            <span class="sidebar-icons"><img src="{% static 'img/icons/home.png'%}"/></span>
            
            <span class="pt-2"><h2 >Home</h2></span>
          
          </div>
        </a>
        <a href="{% url 'explore'%}" class="sidebar__link {% if request.path == '/explore/' %}active-nav{% endif %}" ><div class="sidebar__link">
          <span class="sidebar-icons"><img src="{% static 'img/icons/explore.png'%}"/></span>
        <span class="pt-2"><h2>Explore</h2></span>
        </div>
      </a>
          <a href="{% url 'chat_list'%}" class="sidebar__link {% if request.path == '/chats/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/chats.png'%}"/></span>
          <span class="pt-2"><h2>Chats</h2></span>
          </div>
        </a>
        
          <a href="{% url 'notification_list'%}" class="sidebar__link {% if request.path == '/notification_list/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/notification.png'%}"/></span>
          <span class="pt-2"><h2>Alerts</h2></span>
          </div></a>
          <a href="#" class="sidebar__link {% if request.path == '/#/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/shop.png'%}"/></span>
          <span class="pt-2"><h2>Shops</h2></span>
          </div></a>
          
          {% if user.is_authenticated %}
          <a href="{% url 'view_profile' user.username %}" class="sidebar__link {% if request.resolver_match.view_name == 'view_profile' and request.resolver_match.kwargs.profile_username == user.username %}active-nav{% endif %}">
            <div class="sidebar__link">
                <span class="sidebar-icons"><img src="{% static 'img/icons/profile.png'%}"/></span>
                <span class="pt-2"><h2>Profile</h2></span>
            </div>
        </a>
          {% endif %}
          <div class="card-action">
            <div class="dropdown ">
            <a href="javascript:void();" class=" dropdown-toggle-nocaret sidebar__link" data-toggle="dropdown">
              <div class="sidebar__link">

              <span class="sidebar-icons"><img src="{% static 'img/icons/more.png'%}"/></span>
              <span class="pt-2"><h2>More</h2></span>
            </div>

            </a>
            
             <div class="dropdown-menu more-dropdown dropdown-menu-right">
             <a href="{% url 'bookmark_list'%}" class="dropdown-item {% if request.path == '/bookmark_list/' %}active-nav{% endif %}"><i class="fa-solid fa-bookmark mr-2"></i> Bookmarks</a>
             <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-gear mr-2 "></i> Settings</a>
             <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-heart red mr-2"></i> Support </a>
             <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket mr-2 "></i> Logout</a>

              </div>
             </div>
            </div>

          <div class="mr-auto mt-1 post-cta " >
              {% if user.is_authenticated %}
                <button class="btn btn-dark btn-post px-5 "  data-toggle="modal" data-target="#StoryModal">

                <span class="text-light"><b>POST</b></span>
              </button>
              {% else %}

              <button class="btn btn-dark btn-post px-5 "  data-toggle="modal" data-target="#AuthModal">

                <span class="text-light"><b>Login</b></span>
              </button>
              {% endif %}
  
               </div>
         
         
       
          <div class=" mt-4 profile-link">
            {% if user.is_authenticated %}
            <div class="account">
              

              <div class="account-avatar">
                <a href="{% url 'view_profile' user.username %}">
                <img src="{% static 'img/avatar.jpg'%}" c alt=""></a>
              </div>

              <div class="user-details ml-1 text-left">
                <a href="{% url 'view_profile' user.username %}">

                <p ><b>{{my_profile.name}}</b> <i class="fa-solid fa-circle-check blue "></i><br> </p>
                <p class="blue">@{{user.username}}</p>
                </a>
              </div>
              <div>
                

              </div>
             
            </div>
            {% endif %}
          </a>
          </div>
        </div>
      </div>
      <!-- Sidebar Ends -->

     {% block content %} 
     

     {%endblock%}

  <!-- Widgets Starts -->

  <div class="col right__rail">
  


    <div class="featured">
      <!-- <div class="right-nav-menu mr-3">
        <div class="card-action">
          <div class="dropdown">
          <a href="javascript:void();" class=" dropdown-toggle-nocaret" data-toggle="dropdown">
           
            <i class="fa-solid fa-ellipsis"></i>
     
          </a>
           <div class="dropdown-menu dropdown-menu-right">
           <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-plus red"></i> Create New</a>
            </div>
           </div>
          </div>      
      </div> -->


      <div class="input-group main-search mt-5 ">
    
        <form action="{% url 'search_results' %}" method="GET" value="{{request.GET.q}}" >
            
          <div class="input-group col-12">
              <input type="search" class="form-control search-input rounded " placeholder="Search Soconey" aria-label="Search" aria-describedby="search-addon" name="q" value="{{request.GET.q}}" />
              <button name="submit" type="submit" class="btn btn-light "><i class="fa fa-search"></i></button>
            </div>
          </form>
    
      </div>


      <div class="featured__sticky pt-3">
        <div class="trending-block  mb-4">
          <div class="trending-title">
            <!-- <span class="baraza ml-4 pt-3"> 
              <img  src="{% static 'img/baraza.png'%}">
            </span> -->
          <span ><h4 class="ml-3 pt-3 pb-1"><b> <a href="{% url 'baraza'%}">Categories</a> </b> </h4> </span>
          
        </div>
        <div class="">
          <ul class=" category_list ">
         
          <a href="{% url 'category_cars' %}"><li ><i class="fa-solid fa-car mr-2 red"></i> Cars  <br><small class="grey ml-2">{{car_c}} Posts</small> </li> </a>
          <a href="{% url 'category_motorbikes' %}"><li ><i class="fa-solid fa-motorcycle mr-2 red"></i> Motorbikes  <br><small class="grey ml-2">{{mot_c}} Posts</small> </li></a>
          <a href="{% url 'category_bicycles' %}"><li ><i class="fa-solid fa-bicycle mr-2 red"></i> Bicycles  <br><small class="grey ml-2">{{bic_c}} Posts</small> </li></a>
          <a href="{% url 'category_fashion' %}"><li ><i class="fa-solid fa-shirt mr-2 red"></i> Fashion <br><small class="grey ml-2">{{fas_c}} Posts</small> </li></a>
          <a href="{% url 'category_art' %}"><li ><i class="fa-solid fa-paintbrush mr-2 red"></i> Art  <br><small class="grey ml-2">{{art_c}} Posts</small> </li> </a>
          <a href="{% url 'category_gigs' %}"><li ><i class="fa-regular fa-newspaper mr-2 red"></i> Gigs  <br><small class="grey ml-2">{{gig_c}} Posts</small> </li></a>
          <a href="{% url 'category_hiring' %}"><li ><i class="fa-solid fa-briefcase mr-2 red"></i> Hiring  <br><small class="grey ml-2">{{hir_c}} Posts</small> </li></a>
          <a href="{% url 'category_electronics' %}"><li ><i class="fa-solid fa-laptop mr-2 red"></i> Electronics <br><small class="grey ml-2">{{ele_c}} Posts</small> </li></a>
          <a href="{% url 'category_accessories' %}"><li ><i class="fa-solid fa-keyboard mr-2 red"></i> Accessories <br><small class="grey ml-2">{{acc_c}} Posts</small> </li> </a>
          <a href="{% url 'category_luxury' %}"><li ><i class="fa-solid fa-landmark mr-2 red"></i> Luxury <br><small class="grey ml-2">{{lux_c}} Posts</small> </li></a>
          <a href="{% url 'category_real estate' %}"><li ><i class="fa-solid fa-building mr-2 red"></i> Real Estate  <br><small class="grey ml-2">{{rea_c}} Posts</small> </li></a>
          <a href="{% url 'category_food and drinks' %}"><li ><i class="fa-solid fa-utensils mr-2 red"></i> Food and Drinks <br><small class="grey ml-2">{{foo_c}} Posts</small> </li></a>
          <a href="{% url 'category_health and beauty' %}"><li ><i class="fa-solid fa-star-of-life mr-2 red"></i> Health and Beauty <br><small class="grey ml-2">{{hea_c}} Posts</small> </li></a>
          <a href="{% url 'category_furniture' %}"><li ><i class="fa-solid fa-couch mr-2 red"></i> Furniture  <br><small class="grey ml-2">{{fur_c}} Posts</small> </li> </a>


        </ul>
        
        <div class="follow-block">
          <h4 class="ml-4"><b>Who to Follow</b></h4>
          {% for user in random_users %}
          <div class="follow-account ml-3 mt-3">
              <div class="account-avatar">
                  <img src="{% static 'img/avatar.jpg' %}" alt="">
              </div>
              <div class="user-details">
                  <p><b>{{ user.username }}</b></p>
                  <p class="blue">{{ user.username }}</p>
              </div>
              <div class="follow-btn ml-3">
                  <button class="btn btn-dark px-3 btn-rounded" onclick="followUser('{{ user.username }}')">Follow</button>
              </div>
          </div>
          {% endfor %}
          <p class="ml-5"><b><a href="">See More</a></b></p>
      </div>
        
      

        </div>


        <div class="footer">
          Terms of Service - Privacy Policy - Cookie Policy  - @ 2022 Soconey
        </div>
      </div>
    </div> 
   
    
    <!-- Widgets Ends -->
  </div>

 
  </div>

  
  </div>





  <!-- Main Body Ends -->
  </body>

  <div class="fixed-bottom-menu ">
    <div class="fixed-bottom-menuــrow row ">
      <a href="{% url 'home'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/home.png'%}"/>
        </span>
        <h6 class="mt-1">Home</h6>
      </a>
    
      <a href="{% url 'chat_list'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/chats.png'%}"/>
        </span>
        <h6 class="mt-1">Chats</h6>
      </a>
      <a href="#" title="" class="fixed-bottom-menu__a">
        <span class="main-cta">
          <img src="{% static 'img/post.png'%}"/>
        </span>
        <h6 class="mt-1">POST</h6>
      </a>
      <a href="{% url 'notification_list'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/notification.png'%}"/>
        </span>
        <h6 class="mt-1">Alerts</h6>
      </a>
      
      <a href="#" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/more.png'%}"/>
        </span>
        <h6 class="mt-1">More</h6>
      </a>
    </div>
</div>


  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/app_scripts.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="{% static 'js/follow.js'%}"></script>
  <script src="{% static 'js/bookmark.js'%}"></script>
  <script src="{% static 'js/repost.js'%}"></script>
  <script src="{% static 'js/edit_profile.js'%}"></script>
  <script src="{% static 'js/edit_profile_modal.js'%}"></script>

  <script src="{% static 'js/votes.js'%}"></script>
  <script src="{% static 'js/comment.js'%}"></script>

  <!-- <script src="{% static 'js/post_form.js'%}"></script> -->
  <script>
  $(document).ready(function() {
    $('#post-form').submit(function(event) {
        event.preventDefault();
        
        var formData = new FormData(this);
        var modal = $('#StoryModal'); // Assuming your modal ID is 'postModal'
        
        var imageInput = $('#id_image')[0]; // Replace 'id_post_image' with the actual ID of the image input
        formData.append('post_image', imageInput.files[0]);
        var successModal = $('#successModal'); // Your success modal ID

        $.ajax({
            url: '{% url "home" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success) {
                    modal.modal('hide');
                    $('#post-form')[0].reset();
                    // Show the success modal
                    successModal.modal('show');
                    // Update the success message in the modal
                    $('#successMessage').text(response.message);
                    // Close the success modal after a certain delay (e.g., 3 seconds)
                    setTimeout(function() {
                        successModal.modal('hide');
                    }, 3000); // 3000 milliseconds (3 seconds)
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('An error occurred while submitting the form.');
            }
        });
    });



    $('.follow-button').click(function(e) {
        e.preventDefault();
        var profileUsername = $(this).data('profile-username');
        var button = $(this);

        $.ajax({
            url: '/follow/' + profileUsername + '/',
            type: 'post',
            dataType: 'json',
            data: {
                csrfmiddlewaretoken: getCSRFToken()  // Include the CSRF token
            },
            success: function(response) {
                if (response.success) {
                    if (response.action === 'follow') {
                        button.text('Unfollow');
                    } else if (response.action === 'unfollow') {
                        button.text('Follow');
                    }
                }
            }
        });
    });

    var maxWords = 144;

        $('#post-form-body').on('input', function() {
            var words = $(this).val().trim().split(/\s+/).length;
            var progress = (words / maxWords) * 100;
            $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
            $('.word-count').text(words + '/' + maxWords + ' words');

            if (words > maxWords) {
                $(this).val($(this).val().split(/\s+/).slice(0, maxWords).join(' '));
            }
        });
    
});
  </script>
  {% endblock %}
  
</html>
