{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" >
    <!-- <link rel="stylesheet" href="{% static 'plugins/emojimart/emojimart.css' %}"> -->

    <link rel="stylesheet" href="{% static 'css/app_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/camel.css'%}">

  
    <title>app UI</title>

  </head>
  
  <nav class="navbar fixed-nav navbar-light  bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
      <div class=" mr-auto ">
        <div id="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png'%}" alt="">
          </a>
      </div>
  
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
    
    
    </div> <!-- navbar-collapse.// -->
  </div><!-- container //  -->
  </nav>

 
  <body>
    <!-- Main Body Starts -->

    <div class="container">
    
   
    
    <div class="row">
      <!-- Sidebar Starts -->
      
      <div class="col left__rail mt-3">
        <div class="sidebar">

          <a class="" href="#">
            <div class="mt-5 mb-3  mr-auto ml-4 ">
              <div id="logo">
                <a href="{% url 'home' %}">
                  <img src="{% static 'img/logo.png'%}" alt="">
                </a>
            </div>
        
            </div>
          </a>
               
        <a href="{% url 'home'%}" class="sidebar__link {% if request.path == '/home/' %}active-nav{% endif %}" ><div class="sidebar__link">
         
            <span class="sidebar-icons"><img src="{% static 'img/icons/home.png'%}"/></span>
            
            <span class="pt-2"><h2 >Home</h2></span>
          
          </div>
        </a>
        <a href="{% url 'explore'%}" class="sidebar__link {% if request.path == '/explore/' %}active-nav{% endif %}" ><div class="sidebar__link">
          <span class="sidebar-icons"><img src="{% static 'img/icons/explore.png'%}"/></span>
        <span class="pt-2"><h2>Explore</h2></span>
        </div>
      </a>
      <a href="{% url 'bookmark_list'%}" class="sidebar__link {% if request.path == '/bookmark_list/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/bookmark.png'%}"/></span>
          <span class="pt-2"><h2>Bookmarks</h2></span>
          </div>
        </a>
        
          <a href="{% url 'view_alerts'%}" class="sidebar__link {% if request.path == '/alerts/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/notification.png'%}"/></span>
          <span class="pt-2"><h2>Alerts</h2></span>
          </div></a>
          <a href="{% url 'shop'%}" class="sidebar__link {% if request.path == '/shop/' %}active-nav{% endif %}"><div class="sidebar__link">
            <span class="sidebar-icons"><img src="{% static 'img/icons/shop.png'%}"/></span>
          <span class="pt-2"><h2>Shop</h2></span>
          </div></a>
          
          {% if user.is_authenticated %}
          <a href="{% url 'view_profile' user.username %}" class="sidebar__link {% if request.resolver_match.view_name == 'view_profile' and request.resolver_match.kwargs.profile_username == user.username %}active-nav{% endif %}">
            <div class="sidebar__link">
                <span class="sidebar-icons"><img src="{% static 'img/icons/profile.png'%}"/></span>
                <span class="pt-2"><h2>Profile</h2></span>
            </div>
        </a>
          {% endif %}
          <div class="card-action">
            <div class="dropdown ">
            <a href="javascript:void();" class=" dropdown-toggle-nocaret sidebar__link" data-toggle="dropdown">
              <div class="sidebar__link">

              <span class="sidebar-icons"><img src="{% static 'img/icons/more.png'%}"/></span>
              <span class="pt-2"><h2>More</h2></span>
            </div>

            </a>
            
             <div class="dropdown-menu more-dropdown dropdown-menu-right">
             <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-gear mr-2 "></i> Settings</a>
             <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-heart red mr-2"></i> Support </a>
             <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket mr-2 "></i> Logout</a>

              </div>
             </div>
            </div>

          <div class="mr-auto mt-1 post-cta " >
              {% if user.is_authenticated %}
                <button class="btn btn-dark btn-post px-5 "  data-toggle="modal" data-target="#StoryModal">

                <span class="text-light"><b>POST</b></span>
              </button>
              {% else %}

              <button class="btn btn-dark btn-post px-5 "  data-toggle="modal" data-target="#AuthModal">

                <span class="text-light"><b>Login</b></span>
              </button>
              {% endif %}
  
               </div>
         
         
       
          <div class=" mt-4 profile-link">
            {% if user.is_authenticated %}
            <div class="account">
              

              <div class="account-avatar">
                <a href="{% url 'view_profile' user.username %}">
                  {% if my_profile.avatar %}
                  <img src="{{ my_profile.avatar.url }}" alt="User Avatar" id="user-main-avatar">
                  {% else %}
                      <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                  {% endif %}
              
              </a>
              </div>

              <div class="user-details ml-1 text-left">
                <a href="{% url 'view_profile' user.username %}">

                <p ><b>{{my_profile.name}}</b> <i class="fa-solid fa-circle-check blue "></i><br> </p>
                <p class="blue">@{{user.username}}</p>
                </a>
              </div>
              <div>
                

              </div>
             
            </div>
            {% endif %}
          </a>
          </div>
        </div>
      </div>
      <!-- Sidebar Ends -->

     {% block content %} 
     

     {%endblock%}

  <!-- Widgets Starts -->

  <div class="col right__rail">
  


    <div class="featured">
      <!-- <div class="right-nav-menu mr-3">
        <div class="card-action">
          <div class="dropdown">
          <a href="javascript:void();" class=" dropdown-toggle-nocaret" data-toggle="dropdown">
           
            <i class="fa-solid fa-ellipsis"></i>
     
          </a>
           <div class="dropdown-menu dropdown-menu-right">
           <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-plus red"></i> Create New</a>
            </div>
           </div>
          </div>      
      </div> -->


      <div class="input-group main-search mt-5 ">
    
        <form action="{% url 'search_results' %}" method="GET" value="{{request.GET.q}}" >
            
          <div class="input-group col-12">
              <input type="search" class="form-control search-input rounded " placeholder="Search Soconey" aria-label="Search" aria-describedby="search-addon" name="q" value="{{request.GET.q}}" />
              <button name="submit" type="submit" class="btn btn-light "><i class="fa fa-search"></i></button>
            </div>
          </form>
    
      </div>


      <div class="featured__sticky pt-3">
        <div class="trending-block  mb-4">
          <div class="trending-title">
            <!-- <span class="baraza ml-4 pt-3"> 
              <img  src="{% static 'img/baraza.png'%}">
            </span> -->
          <span ><h4 class="ml-3 pt-3 pb-1"><b> Topics </b> </h4> </span>
          
        </div>
        <div class="">
          <ul class=" topic_list ">

            <a href="{% url 'topic_general' %}"><li ><i class="fa-solid fa-globe mr-2 red"></i> General  <br><small class="grey ml-2">{{gen_c}} Posts</small> </li> </a>
            <a href="{% url 'topic_science & technology' %}"><li ><i class="fa-solid fa-atom mr-2 red"></i> Science & Technology  <br><small class="grey ml-2">{{sci_c}} Posts</small> </li></a>
            <a href="{% url 'topic_business & finance' %}"><li ><i class="fa-solid fa-briefcase mr-2 red"></i> Business & Finance <br><small class="grey ml-2">{{bus_c}} Posts</small> </li></a>
            <a href="{% url 'topic_nature' %}"><li ><i class="fa-solid fa-seedling mr-2 red"></i> Nature  <br><small class="grey ml-2">{{nat_c}} Posts</small> </li></a>
            <a href="{% url 'topic_news' %}"><li ><i class="fa-regular fa-newspaper mr-2 red"></i> News  <br><small class="grey ml-2">{{new_c}} Posts</small> </li></a>
            <a href="{% url 'topic_culture' %}"><li ><i class="fa-solid fa-earth-africa mr-2 red"></i> Culture  <br><small class="grey ml-2">{{cul_c}} Posts</small> </li></a>
            <a href="{% url 'topic_sports' %}"><li ><i class="fa-solid fa-trophy mr-2 red"></i> Sports <br><small class="grey ml-2">{{spo_c}} Posts</small> </li></a>
            <a href="{% url 'topic_music' %}"><li ><i class="fa-solid fa-music mr-2 red"></i> Music <br><small class="grey ml-2">{{mus_c}} Posts</small> </li> </a>
            <a href="{% url 'topic_history' %}"><li ><i class="fa-solid fa-landmark mr-2 red"></i> History <br><small class="grey ml-2">{{his_c}} Posts</small> </li></a>
            <a href="{% url 'topic_philosophy' %}"><li ><i class="fa-solid fa-book mr-2 red"></i> Philosophy  <br><small class="grey ml-2">{{phi_c}} Posts</small> </li></a>
            <a href="{% url 'topic_faith & religion' %}"><li ><i class="fa-solid fa-dove mr-2 red"></i> Faith & Religion <br><small class="grey ml-2">{{rel_c}} Posts</small> </li></a>
            <a href="{% url 'topic_health & wellness' %}"><li ><i class="fa-solid fa-star-of-life mr-2 red"></i> Health & Wellness  <br><small class="grey ml-2">{{hea_c}} Posts</small> </li> </a>
            <a href="{% url 'topic_art & design' %}"><li ><i class="fa-solid fa-cubes mr-2 red"></i> Art & Design  <br><small class="grey ml-2">{{art_c}} Posts</small> </li></a>
  
          </ul>
      
        
      

        </div>


       
      </div>
    </div> 
   
    
    <!-- Widgets Ends -->
  </div>

  <div class="follow-block pt-3">
    <h4 class="ml-4 "><b>Our socials</b></h4>
    <div class="row socials">
      <ul>
          <li>
              <a href="#"> <i class="fa-brands fa-facebook blue"></i></a>
          </li>
          <li>
              <a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li>
              <a href="#"> <i class="fa-brands fa-tiktok"></i> </a>
          </li>
          <li>
              <a href="#"> <i class="fa-brands fa-youtube red"></i> </a>
          </li>
      </ul>
    </div>
</div>
 
<div class="footer">
  Terms of Service - Privacy Policy - Cookie Policy  - @ 2022 Soconey
</div>
  </div>

  
  </div>





  <!-- Main Body Ends -->
  </body>

  <div class="modal" id="TipModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <div class="modal-body">
                <p id="successMessage" class="text-center">Your post was successful. </p>
                <div class="text-center"> <button class="btn btn-outline-light "  > <a href="{% url 'view_post' %}" ><b>View post</b></a>  </button></div>

            </div>
            <div class="modal-footer mx-auto">
              
          </div>
        </div>
    </div>
</div>

  <div class="fixed-bottom-menu ">
    <div class="fixed-bottom-menuــrow row ">
      <a href="{% url 'home'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/home.png'%}"/>
        </span>
        <h6 class="mt-1">Home</h6>
      </a>
    
      <a href="{% url 'explore'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/explore.png'%}"/>
        </span>
        <h6 class="mt-1">Explore</h6>
      </a>
      <a href="#" title=""  data-toggle="modal" data-target="#StoryModal" class="fixed-bottom-menu__a">
        <span class="main-cta">
          <img src="{% static 'img/post.png'%}"/>
        </span>
        <h6 class="mt-1">POST</h6>
      </a>
      <a href="{% url 'view_alerts'%}" title="" class="fixed-bottom-menu__a">
        <span class="">
          <img src="{% static 'img/icons/notification.png'%}"/>
        </span>
        <h6 class="mt-1">Alerts</h6>
      </a>
      
      <div class="card-action">
            <div class="dropdown mt-3 ">
      <a href="javascript:void();" title="" class="dropdown-toggle-nocaret fixed-bottom-menu_more" data-toggle="dropdown">
        <span class="">
          <img src="{% static 'img/icons/more.png'%}"/>
        </span>
        <h6 class=" ml-2">More</h6>
      </a>
                   <div class="dropdown-menu more-dropdown dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'bookmark_list'%}"><i class="fa-regular fa-bookmark mr-2 "></i> Bookmarks</a>
              <a class="dropdown-item" href="{% url 'shop'%}"><span class="mr-2"><img src="{% static 'img/icons/shop.png'%}"/></span> Shop</a>

             <a class="dropdown-item" href=""><i class="fa-solid fa-gear mr-2 "></i> Settings</a>
             <a class="dropdown-item" href=""><i class="fa-solid fa-heart red mr-2"></i> Support </a>
             <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket mr-2 "></i> Logout</a>

              </div>
      </div>
      </div>
    </div>
</div>


  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/app_scripts.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="{% static 'js/follow.js'%}"></script>
  <script src="{% static 'js/bookmark.js'%}"></script>
  <script src="{% static 'js/camel.js'%}"></script>

  <script src="{% static 'js/repost.js'%}"></script>
  <script src="{% static 'js/edit_profile.js'%}"></script>
  <script src="{% static 'js/edit_profile_modal.js'%}"></script>

  <script src="{% static 'js/votes.js'%}"></script>
  <script src="{% static 'js/comment.js'%}"></script>

  <!-- <script src="{% static 'js/post_form.js'%}"></script> -->
  <script>
  
  </script>
  {% endblock %}
  
</html>
