{% extends '../app/base.html' %}
{% block content %}

{% load static %}

<div class="col">
    <div class="spacer"></div>
    <h2 class="text-center">Your Alerts</h2>
    <div class="container">
	<div class="list-group mt-4">
    
    {% if user_alerts %}
    <ul>
      
      {% for alert in user_alerts %}
        <li  class="list-group-item notification list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>{{ alert.sender.username }}</strong> {{ alert.alert_type }}d your post</h5>
            <small class="text-muted">"{{ alert.post.title }}" on {{ alert.timestamp|date:"F j, Y H:i" }}</small>
          </div>
          {% if not alert.is_read %}
                    <span style="color: red;">Unread</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
        

     {% else %}
     <div class="container">
       <div class="spacer"></div>
       <div class="spacer"></div>
       <p class="text-center mt-5">
         There are no alerts to show at the moment
       </p>
       <div class="spacer"></div>
     </div>
    {% endif%}

      </div>
    </div>
</div>
{%endblock%}