{% extends '../app/base.html' %}
{% block content %}

{% load static %}

 <!-- Feed Starts -->

 
 
  
 <div class="col feed">

  <div class="container">
  <ul class="tabs-bar pt-5">
    <li id="tab1" class="tab tab-active"><b><i class="fa-regular fa-gem blue mr-2"></i> Gem store</b></li>
    <li id="tab2" class="tab"><b><i class="fa-solid fa-rotate red mr-2"></i> Flip Store</b></li>
    
  </ul>
  </br>
  <div class="content-container">
    <div class="content content-tab1 content-active">

      <div class="ig__phone--feed">

     

      <!-- 1st post -->
      <div class="ig__post pb-5"> <span class="ml-auto"><i class="fa-solid fa-ellipsis"></i></span>
        <div class="ig__post--brand">
          <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
          <div class="brand__info">
            <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
            <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span> <span>
            <span class="grey">Posted 3hrs ago</span> 
          </div>
        </div>
            <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

        <div class="ig__post--creative">
          <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
          </img>
      </div>
      <div class="ig__post--summary">
        <a href="https://cumulusfinserv.com/">
          <div class="ig__post--cta gem-currency">
            <span><b>30,000 </b> 
              <img src="{% static 'img/gem.png'%}" alt="">
          </span>
            <span><button class="btn btn-outline-light">Deal +</button></span>
          </div>
        </a>
        <div class="ig__post--input">
          <!-- DO NOT CHANGE THIS IMAGE -->
          <div class="ig__post--input--left">
          <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
          <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
          <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
        </div>
        <div class="ig__post--input--right mt-3">
          <span class="post-icons">
            <i class="fa-regular fa-gem blue"></i><i class="fa-solid fa-circle-plus red"></i>
          </span>
        </div>
          <!-- DO NOT CHANGE THIS IMAGE -->
        </div>
       
      </div>
    </div>
    <!-- 2nd post -->
    <div class="ig__post"> <span class="ml-auto"><i class="fa-solid fa-ellipsis"></i></span>
      <div class="ig__post--brand">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span>
        </div>
      </div>
          <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

      <div class="ig__post--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    <div class="ig__post--summary">
      <a href="https://cumulusfinserv.com/">
        <div class="ig__post--cta">
          <span><b>KES 13,100,000</b></span>
          <span><button class="btn btn-light">Make Offer</button></span>
        </div>
      </a>
      <div class="ig__post--input">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="ig__post--input--left">
        <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
        <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
        <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
      </div>
      <div class="ig__post--input--right mt-2">
        <span class="post-icons"><i class="fa-solid fa-square-plus red"></i></span>
      </div>
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
  </div>
  <!-- END FEED-->
</div>

    </div>
    <div class="content content-tab2">

      <div class="ig__phone--feed">

     

     
    <!-- 2nd post -->
    <div class="ig__post">
      <div class="ig__post--brand">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span>
        </div>
      </div>
          <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

      <div class="ig__post--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    <div class="ig__post--summary">
      <a href="https://cumulusfinserv.com/">
        <div class="ig__post--cta">
          <span><b>KES 13,100,000</b></span>
          <span><button class="btn btn-light">Make Offer</button></span>
        </div>
      </a>
      <div class="ig__post--input">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="ig__post--input--left">
        <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
        <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
        <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
      </div>
      <div class="ig__post--input--right mt-3">
        <span class="post-icons"><i class="fa-solid fa-square-plus"></i></span>
      </div>
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
  </div>
  <!-- END FEED-->
</div>

    </div>
    
  </div>
</div>
    
    

</div>

<!-- Feed Ends -->
{% endblock %}