{% extends '../app/base.html' %}

{% block content %} 
     

{% load static %}

 <!-- Feed Starts -->
  
 <div class="col">
  
 

  <div class=" feed details__feed">
  
 

      <div class="app--feed">

    
      <!-- 1st post -->
      <div class="row ">

        
        
       <div class="post_card  mb-3 col-12"> 
         <div class="row">
       
        <div class="ml-auto mr-3 mb-2">
           <div class="card-action">
       <div class="dropdown">
       <a href="javascript:void();" class="dropdown-toggle-nocaret" data-toggle="dropdown">
        <i class="fa-solid fa-ellipsis"></i>
  
       </a>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#"><i class="fa-solid fa-trash-can red"></i> Delete </a>
        <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-triangle-exclamation red"></i> Report </a>
        <a class="dropdown-item" href="javascript:void();"> <i class="fa-solid fa-share"></i> Share</a>
  
  
         </div>
        </div>
      
       </div>
      </div>
    </div>
     

    
  
          
             
    
      
        </div>
        
        </div>
        <div class="detail__content">
          <div class="name-tag ">
  
                
            <div class="follow-card ml-3 mt-3">
              <div class="row">
              <div class="account-avatar">
                {% if post_detail.avatar %}
                <img src="{{ post_detail.avatar.url }}" alt="User Avatar" id="user-main-avatar">
                {% else %}
                    <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                {% endif %}
              </div>
              <div class="user-details ml-2">
                <p><b>{{post_detail.poster_full}}</b><br>
                <small class="">{{ post_detail.posted_by.following.count }} Followers</small></p>
              </div>
              <div class="follow-btn ml-5">
                <button class="btn btn-dark btn-rounded px-3 ml-2">Follow</button>
              </div>
          </div>
              
          </div>

          
          </div>

          <div class="row mt-3">
            
            <div class=" col-12 ">
          
              {% if post_detail.post_image %}
             
              <div class="post_detail_img mt-2">

               <img src="{{ post_detail.post_image.url }}">
     
      
              </div>

              {% endif %}
              <div class="mt-4 "><h5>{{post_detail.headline}} </h5>
                <div class="row ml-1"><small>posted by @{{post_detail.posted_by}}  </small> <p class="ml-auto mr-3"><i class="fa-regular fa-clock red"></i> . {{post_detail.whenpublished}} </p></div>
                 </div>  
          <div class="mt-1"><p>{{post_detail.body}} </p></div>
          <div class="post_card--brand mt-4">
            <div class="brand__info">
              <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          
              
            </div>
          </div>
          
          <div class="post_card--summary">
            <!-- <a href="#">
              <div class="post_card--cta">
                <div class="price mr-2">
                <span>
                  <b>Tip Creator</b>
                </span>
              </div>
                <span><button class="btn btn-outline-danger btn-rounded px-"> TIP </button></span>
              </div>
            </a> -->
          
          <div class="post_card--input--left mt-2 ">

            <div class="post-icons">
              <button class="comment-button btn btn-light" data-post-id="{{ post.id }}">
                <i class="fa-regular fa-comment"></i>
                <span class="post-engagement ml-2">{{ post_detail.comment_count }}</span>
  
              </button>
            </div>

          <div class="post-icons row  ">
              {% if user.is_authenticated %}
  
              <form action="{% url 'upvote_post' post_detail.id %}" method="post">
                {% csrf_token %}
              <span class="post-icons "> 
                  <button  class="btn btn-light upvote-button {% if user in post.likes.all or post_detail.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ post_detail.id }}"> <i class="fa-regular fa-thumbs-up"></i> </button>         
              </span>
              </form>
              <span class="ml-2 mt-2" id="vote-count-{{ post_detail.id }}" > {{ post_detail.vote_count }} </span>

              <form action="{% url 'downvote_post' post_detail.id %}" method="post">
                {% csrf_token %}
              <span class="post-icons ">
                <button  class="btn btn-light downvote-button {% if user in post.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ post_detail.id }}"> <i class="fa-regular fa-thumbs-up fa-rotate-180"></i> </button>
              </span>
              </form>

              {% endif %}
          </div>


           <div class="post-icons  mr-3">
            <div class="card-action">
        <div class="dropdown">
        <a href="javascript:void();" class=" dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="fa-solid fa-retweet"></i> 
          <span class="post-engagement">13</span>
          </a>
         <div class=" dropdown-menu dropdown-menu-top">
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-circle-plus "></i>  Repost</a>
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-share"></i>  Share</a>

          </div>
         </div>
        </div>
       </div>

       <div class="post-icons ">
        <button class="bookmark-button btn btn-light" data-post-id="{{ post_detail.id }}">
          {% if user in post.bookmarked_users.all %}
              <i class="fa-solid fa-bookmark"></i> Bookmarked
          {% else %}
              <i class="fa-regular fa-bookmark"></i> Bookmark
          {% endif %}
      </button>
      </div>

      

        
        
      

  

        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
            </div>
          </div>
        </div>

        <div class="mb-2 mt-3">
        <form class="detail-comment-form" data-post-id="{{ post_detail.id }}">
          {% csrf_token %}
  
          <div class="row " id="comment_form">
            <div class="col-11">
          <textarea name="comment" placeholder="Add a comment"></textarea>
        </div>
        <div class="col-1 actions">
          <button type="submit" class="btn btn-dark "><i class="fa-solid  fa-arrow-right"></i></button>
          <!-- <button type="button" class="cancel-comment btn btn-light"><i class="fa-solid fa-xmark red"></i></button> -->
          </div>
          </div>
        </form>
        </div>
        
        </div>

        <div class="comment__counter text-center pt-3">
          <p>{{ post_detail.comment_count }} Comments</p>
        </div>
        
    <div class="engagement pt-3">
 

      {% for comment in post_comments %}
      <div class=" reply-card  ml-3 mt-5 mr-3">
          <div class="  ml-2 row">
            <div class="row ml-2">
              {% if comment.avatar %}
              <img src="{{ comment.avatar.url }}" alt="User Avatar" id="user-main-avatar">
              {% else %}
                  <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
              {% endif %}
              <p class="ml-3 ">
                <b>{{comment.poster_full}}</b>  
                <span class=" ml-4 comment-time"> {{comment.whenpublished}}</span> 

              </p>

            </div>
        
            
          </div> 

        <div class="row ml-2 mt-2  ">
          <p>{{comment.body}} </p>
        </div>
        
        <div class="post_card--input--left mt-2 ">

          <div class="post-icons">
            <button class="comment-button btn btn-light" data-post-id="{{ comment.id }}">
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2">{{ comment.comment_count }}</span>

            </button>
          </div>

            <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_comment' comment.id %}" method="post">
                {% csrf_token %}
              <span class=" ml-2"> 
                  <button  class="btn btn-light comment-upvote-button {% if user in comment.likes.all or comment.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ comment.id }}"> <i class="fa-regular fa-thumbs-up"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2" id="vote-count-{{ comment.id }}" > {{ comment.vote_count }} </span>
    
            <form action="{% url 'downvote_comment' comment.id %}" method="post">
              {% csrf_token %}
            <span class=" ml-2">
              <button  class="btn btn-light comment-downvote-button {% if user in comment.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ comment.id }}"> <i class="fa-regular fa-thumbs-up fa-rotate-180"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>


           <div class="post-icons  mr-3">
            <div class="card-action">
        <div class="dropdown">
        <a href="javascript:void();" class=" dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="fa-solid fa-share"></i> 
          </a>
         <div class=" dropdown-menu dropdown-menu-top">
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-circle-plus "></i>  Repost</a>
         <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-share"></i>  Share</a>

          </div>
         </div>
        </div>
       </div>

      

        
        
      

  

        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>

      </div>
      {% endfor %}
    </div>
  <!-- END FEED-->


    
  </div>
    
  
    

</div>
</div>
{%endblock%}

<!-- Feed Ends -->