{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SC</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

<link rel="mask-icon" sizes="any" href="https://abs.twimg.com/responsive-web/client-web/icon-svg.9e211f65.svg" color="#1da1f2">
<link rel="shortcut icon" href="https://abs.twimg.com/favicons/twitter.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="192x192" href="https://abs.twimg.com/responsive-web/client-web/icon-ios.8ea219d5.png" />
</head>

<body>
    <main>
        <div class="left">
            <div class="left-bg">
                <img src="{% static 'img/landing.png' %}" alt="">
            </div>
            <div class="content">
                <div class="content-item">
                    <div class="content-img">
                        <img src="https://raw.githubusercontent.com/mustafadalga/twitter-ui-clone/master/assets/img/search.svg" alt="">
                    </div>
                    <span class="content-description">buy and sell
                    </span>
                </div>
                <div class="content-item">
                    <div class="content-img">
                        <img src="https://raw.githubusercontent.com/mustafadalga/twitter-ui-clone/master/assets/img/users.svg" alt="">
                    </div>
                    <span class="content-description">Group buying deals

                    </span>
                </div>
                <div class="content-item">
                    <div class="content-img">
                        <img src="https://raw.githubusercontent.com/mustafadalga/twitter-ui-clone/master/assets/img/comment.svg" alt="">
                    </div>
                    <span class="content-description">interact with sellers/buyers

                    </span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <div id="logo-landing">
                    <a href="{% url 'home' %}">
                      <img src="{% static 'img/logo.png'%}" alt="">
                    </a>
                </div>
                <div class="title ">
                    Join a thriving social marketplace
                </div>
                <br>
                <form >
                    <button type="submit" class="register">Get Started</button>
                    <button type="submit" class="login">Login</button>
                </form>
            </div>
        </div>
    </main>
  
    <footer>
        <div class="container">
            <ul class="footer-link">
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>

                <li><span>© 2023 Socochat, Inc.</span></li>
            </ul>
        </div>

    </footer>
</body>

</html>