.logo-landing img{
    width: 100px;
    height: auto;

}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: #eee;
	background: linear-gradient(0deg, rgba(0, 0, 200, 0.2) , rgba(0, 0, 200, 0) );

}

.left {
  margin: 0;
  position: sticky;
  top: 30%;
 
}
.title {
  width: 80%;
  margin: auto;
}

.auth-card {
  box-shadow: rgba(0, 0, 0, 0.25) 5px 3px 15px 7px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.03) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  border-radius: 15px;

}
.right {
    margin-top: 50px;
}

footer {
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.footer-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    align-content: center;
    width: 100%;
    
}

.footer-link li {
    margin-left: 15px;
    /* border-left: 1px solid #555; */
    /* padding-left: 10px; */
    
}


.tabs-bar{
    width: 100%;
    list-style: none;
    display: block;
    border-bottom: 1px solid #999;
    padding-left: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: sticky;
  }
  .tabs-bar li {
    font-size: 14px;
  }
  .tabs-bar .tab{
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: -1px;
    padding: 10px;
    
    
  }
  
  .tab-active{
    border: 1px solid #999;
    border-bottom: 3px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: red;
  
  } 

  .content{
    display: none;
  }

  .content-active{
    display: block;
  }

  .btn-rounded {
    border-radius: 16px;
    background-color: #000000;
    color: #ffffff;
  }
  
  .btn-rounded:hover{
    background-color: #383838;
    color: #ffffff;
  }

  form .validate {
    
    border: none;
  }

  .modal-content {
    border-radius: 16px;
  }