{% extends '../app/base.html' %}
{% block content %}

{% load static %}

<div class="col">
    <div class="spacer"></div>
    <h2 class=""><i class="fa-solid fa-gear"></i> Settings</h2>
	<div class="list-group mt-4">
       
        <a href="#" class="list-group-item notification list-group-item-action">
            <li class="list-group-item list-group-item-secondary">Change Account Username</li>

        </a>

        <a href="#" class="list-group-item notification list-group-item-action">
            <li class="list-group-item list-group-item-secondary">Change Account Username</li>

        </a>

        <a href="#" class="list-group-item notification list-group-item-action">
            <li class="list-group-item list-group-item-secondary">Change Account Username</li>

        </a>
       
      </div>
</div>
{%endblock%}