{% extends '../app/base.html' %}
{% block content %}

{% load static %}

 <!-- Feed Starts -->

 
 
  
 <div class="col feed">

  <div class="container ">
  <ul class="tabs-bar text-center pt-2">
    <li id="tab1" class="tab tab-active"><b>Categories</b></li>
    <li id="tab2" class="tab"> <b>Popular</b></li>

  </ul>
   
  <div class="input-group main-search mt-1 ">


  </div>
  <div class="content-container">
    <div class="content content-tab1 content-active">

      <div class="app--feed">

        <div class="container pb-4">

          <div class="row">
            <div class="col-6 ">
              <div class="explore-card">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/real_estate.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Real Estate</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

            <div class="col-6 ">
              <div class="explore-card ">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/cars.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Automotive</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-2">
            <div class="col-6">
              <div class="explore-card">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/gigs.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Jobs & Gigs</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="explore-card ">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/fashion.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Fashion</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-2">
            <div class="col-6">
              <div class="explore-card">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/art.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Art & Collectibles</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="explore-card ">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/furniture.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Furniture</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-2">
            <div class="col-6">
              <div class="explore-card">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/phone.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Electronics</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>


            <div class="col-6">
              <div class="explore-card ">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/toys.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Toys & Accesories</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-2">

            <div class="col-6">
              <div class="explore-card">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/groceries.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Food Stuff</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>
            
            <div class="col-6">
              <div class="explore-card ">
                <div class="text-center mt-2">
                  <img src="{% static 'img/icons/beauty.png'%}"/>
                </div>
                <div class="text-center mt-2">
                  <p>Health & Beauty</p>
                </div>
                <div class="text-center mt-2 mb-3">
                  <small>33 posts</small>
                </div>
              </div>
            </div>

          </div>

        </div>


  <!-- END FEED-->
</div>

    </div>
    <div class="content content-tab2">

      <div class="app--feed">

    

    <!-- 2nd post -->
    <div class="post_card">
      <div class="post_card--brand">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span>
        </div>
      </div>
          <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

      <div class="post_card--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    <div class="post_card--summary">
      <a href="">
        <div class="post_card--cta">
          <span><b>KES 13,100,000</b></span>
          <span><button class="btn btn-light">Make Offer</button></span>
        </div>
      </a>
      <div class="post_card--input">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="post_card--input--left">
        <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
        <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
        <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
      </div>
      <div class="post_card--input--right mt-3">
        <div class="row gem">
          <div class="gem-icon">
            <img src="{% static 'img/gem.png'%}" alt="" class="mt-2 ml-2"> 
          </div>
          <div class="badge badge-danger mr-auto">4</div>
        </div>
      </div>
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
  </div>
  <!-- END FEED-->
</div>

    </div>
    
  </div>
</div>
    
    

</div>
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-auto">
          <p>Post 1 </p>
          <hr>
          <form method="POST" class="text-center ">
            {% csrf_token %}
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Describe your product</label><br>
              
              {{ sell_form.about}}
            </div>
          
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Display price</label><br>
              
              {{ sell_form.display_price}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Price limit</label><br>
              
              {{ sell_form.price_limit}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Product location</label><br>
              
              {{ sell_form.product_location}}
            </div>
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Product condition</label><br>
              
              {{ sell_form.product_condition}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Pick up</label><br>
              
              {{ sell_form.product_pick_up}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Payment method</label><br>
              
              {{ sell_form.payment_method}}
            </div>

          <br>
          
           <button type="submit" class="btn btn-dark px-5 ">Post</button>
            
         
          
           </form>        </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
<!-- Feed Ends -->
{% endblock %}