{% extends '../app/base.html' %}
{% block content %}

{% load static %}

 <!-- Feed Starts -->

 
 
  
 <div class="col feed">

  <div class="container">
  <ul class="tabs-bar pt-3">
    <li id="tab1" class="tab tab-active"><b>For You</b></li>
    <li id="tab2" class="tab"> <b>Near You</b></li>

  </ul>
   
  <div class="input-group main-search mt-4 pb-3">

    <form action="{% url 'search_results' %}" method="GET" value="{{request.GET.q}}" >
      <div class=" mx-auto">
        
      <div class="input-group">
          <input type="search" class="form-control rounded  search-input" placeholder="Search in app" aria-label="Search" aria-describedby="search-addon" name="q" value="{{request.GET.q}}" />
          <button name="submit" type="submit" class="btn btn-light px-3"><i class="fa fa-search"></i></button>
        </div>
        </div>
      </form>

  </div>
  <div class="content-container">
    <div class="content content-tab1 content-active">

      <div class="app--feed">

        {% for post in results %}
        <div class="post_card pb-5"> 
         <div class="ml-auto">
            <div class="card-action">
        <div class="dropdown">
        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
         <i class="fa-solid fa-ellipsis"></i>
   
        </a>
         <div class="dropdown-menu dropdown-menu-right">
         <a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete post</a>
         <a class="dropdown-item" href="javascript:void();">Another action</a>
         <a class="dropdown-item" href="javascript:void();">Something else here</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="javascript:void();">Separated link</a>
          </div>
         </div>
        </div>
       </div>
         <div class="post_card--brand">
           <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
           <div class="brand__info">
             <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
         
             <div class="name-tag ">
   
               <div class=" account-details-hover">
                 <a href="{% url 'view_profile' post.posted_by%}">
                 <div class="account-hover-content p-3">
                   <div class="account-avatar ml-2">
                     <img src="{% static 'img/avatar.jpg'%}" alt="">
                   </div>
                   <div class="account-name-tag row ml-2">
                     <p><b>{{post.poster_full}} </b> <br> @{{post.posted_by}} </p>
                     
                     
                   </div>
                   <div><p>{{post.poster_bio |truncatechars:50 }}</p></div>
   
                  
                   
                 </div>
               </a>
               </div>
               
             <span class="bold"><b>{{post.poster_full}}</b> @{{post.posted_by}} <span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span> <span>
             <span class="grey"><br>{{post.whenpublished}}</span> 
             </div>
           </div>
         </div>
             <div><p>{{post.about}}.<a href="{% url 'post_detail' post.id %}">See more...</a> </p></div>
   
         <div class="post_card--creative">
           <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
           </img>
       </div>
       <div class="post_card--summary">
         <a href="https://cumulusfinserv.com/">
           <div class="post_card--cta">
             <span><b>KES {{post.display_price}}</b></span>
             <span><button class="btn btn-outline-light px-3">Bid</button></span>
           </div>
         </a>
         <div class="post_card--input">
           <!-- DO NOT CHANGE THIS IMAGE -->
           <div class="post_card--input--left">
           <div class="post-icons like">
             <span> 
               {% if request.user in post.likes.all %}
   
                 <a name="{{ post.id }}"  class="likin" id="co"><i class="fa-solid fa-heart "  aria-hidden="true"></i></a>
                 {% else %}
               
                 <a name="{{ post.id }}"  class="likin" id="co"><i class="fa-regular fa-heart "   aria-hidden="true"></i></a>         
                 {% endif %}
             </span>
             <span id="like_count"> {{ post.total_likes }} </span>
             </div>
           <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
           <div class="post-icons ml-3">
             <i class="fa-regular fa-share-from-square"></i>
           </div>
         </div>
         <div class="post_card--input--right mt-3">
           <span class="post-icons "><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
         </div>
           <!-- DO NOT CHANGE THIS IMAGE -->
         </div>
        
       </div>
         </div>
        {% endfor %}

  <!-- END FEED-->
</div>

    </div>
    <div class="content content-tab2">

      <div class="app--feed">

    

    <!-- 2nd post -->
    <div class="post_card">
      <div class="post_card--brand">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span>
        </div>
      </div>
          <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

      <div class="post_card--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    <div class="post_card--summary">
      <a href="">
        <div class="post_card--cta">
          <span><b>KES 13,100,000</b></span>
          <span><button class="btn btn-light">Make Offer</button></span>
        </div>
      </a>
      <div class="post_card--input">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="post_card--input--left">
        <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
        <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
        <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
      </div>
      <div class="post_card--input--right mt-3">
        <div class="row gem">
          <div class="gem-icon">
            <img src="{% static 'img/gem.png'%}" alt="" class="mt-2 ml-2"> 
          </div>
          <div class="badge badge-danger mr-auto">4</div>
        </div>
      </div>
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
  </div>
  <!-- END FEED-->
</div>

    </div>
    
  </div>
</div>
    
    

</div>
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-auto">
          <p>Post 1 </p>
          <hr>
          <form method="POST" class="text-center ">
            {% csrf_token %}
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Describe your product</label><br>
              
              {{ sell_form.about}}
            </div>
          
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Display price</label><br>
              
              {{ sell_form.display_price}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Price limit</label><br>
              
              {{ sell_form.price_limit}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Product location</label><br>
              
              {{ sell_form.product_location}}
            </div>
            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Product condition</label><br>
              
              {{ sell_form.product_condition}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Pick up</label><br>
              
              {{ sell_form.product_pick_up}}
            </div>

            <div class="col-lg-12 text-center">
              <label class=" col-form-label form-control-label">Payment method</label><br>
              
              {{ sell_form.payment_method}}
            </div>

          <br>
          
           <button type="submit" class="btn btn-dark px-5 ">Post</button>
            
         
          
           </form>        </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
<!-- Feed Ends -->
{% endblock %}