{% extends '../app/base.html' %}
{% block content %}

{% load static %}


 <!-- Feed Starts -->

 
 
  
 <div class="col feed">

  <div class="container">
  <ul class="tabs-bar pt-5">
    <li id="tab1" class="tab tab-active"><b>Chats</b></li>
    <li id="tab2" class="tab">Chat Boards</b></li>
    <li id="tab2" class="tab"> Groups</b></li>

    
  </ul>
  <div class="input-group pt-3 pb-3">
    <input type="search" class="form-control rounded search-input" placeholder="Search in appname" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-dark">search</button>
  </div>
  </br>
  <div class="content-container">
    <div class="content content-tab1 content-active">

      <div class="chat-item mb-3">

        <a href="">
        <ul class="list-group list-group-horizontal ">
          
          <li class="list-group-item">
            <span class="chat-avatar"><img src="{% static 'img/avatar.jpg'%}"></span>
          </li>
          <li class="list-group-item"><b>John Doe</b><br> lorem ipsum so ...</li>
          <li class="list-group-item">Just Now <br>  <span class="badge badge-danger mr-auto">4</span></li>
        
        </ul></a>
    
   
</div>

<div class="chat-item mb-3">

  <a href="">
  <ul class="list-group list-group-horizontal ">
    
    <li class="list-group-item">
      <span class="chat-avatar"><img src="{% static 'img/avatar.jpg'%}"></span>
    </li>
    <li class="list-group-item"><b>John Doe</b><br> lorem ipsum so ...</li>
    <li class="list-group-item">Just Now <br>  <span class="badge badge-danger mr-auto">4</span></li>
  
  </ul></a>


</div>

    </div>
    <div class="content content-tab2">

      <div class="ig__phone--feed">

     

     
    <!-- 2nd post -->
    <div class="ig__post">
      <div class="ig__post--brand">
        <div class="brand__logo"><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/4a2f6bdb-b381-4982-ad59-4e7f26ee2028.jpg"/></div>
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
          <span class="bold"><b>Mercedes Benz</b> @mercedesbenz<span><img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/b1eeb5f0-24d4-4393-8620-5af0b174fa38.png" class="badge" /></span></span>
        </div>
      </div>
          <div><p>we’ve got it all. Cumulus offers the products, services, knowledge, and resources necessary for your financial success.<span class="blue">See more...</span> </p></div>

      <div class="ig__post--creative">
        <img src="https://image.s4.sfmc-content.com/lib/fe32117276640474721671/m/1/db182ecd-6028-4104-ad8d-245b2b42d3ce.jpg">
        </img>
    </div>
    <div class="ig__post--summary">
      <a href="https://cumulusfinserv.com/">
        <div class="ig__post--cta">
          <span><b>KES 13,100,000</b></span>
          <span><button class="btn btn-light">Make Offer</button></span>
        </div>
      </a>
      <div class="ig__post--input">
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="ig__post--input--left">
        <span class="post-icons"><i class="fa-solid fa-heart"></i></span><span class="post-engagement">300</span>
        <span class="post-icons ml-3"><i class="fa-regular fa-comment"></i></span><span class="post-engagement">40</span>
        <span class="post-icons ml-3"><i class="fa-solid fa-chart-simple"></i></span><span class="post-engagement">3.7k</span>
      </div>
      <div class="ig__post--input--right mt-3">
        <span class="post-icons"><i class="fa-solid fa-square-plus"></i></span>
      </div>
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
    </div>
  </div>
  <!-- END FEED-->
</div>

    </div>
    
  </div>
</div>
    
    

</div>

<!-- Feed Ends -->
{%endblock%}